//Settings, mixins + main layouts styling
@import '_mixins.scss';
@import '_variables.scss';

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-inter;
}

p {
    color:#576784;
}

h1, h2, h3, h4 {
    color:#1f242c;
}