@import './base/main.scss';





.toolbar .logo {
    height:30px;

    img {
        height:100%;
    }
}















button {
    z-index: 1;
    border: none;
    background-color: unset;
}

.mood-emoji {
    height:30px;
}

.mood-text:first-letter {
    text-transform:capitalize;
}

// new design desktop

.dashboard {
    padding:48px;

}

.dashboard-wrapper {
    display:flex;
    gap:116px;
}

.toolbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.toolbar .greeting {
    color:#fff;
    font-size: 24px;

    p {
        margin-bottom: 0;
    }
}

.sidebar {
    position: relative;
    height: 400px;
    border-radius: 10px;
    padding:32px;
    background: rgba(46, 46, 46, 0.6);
    border: 0.4px solid rgba(202, 202, 202, 0.4);
    backdrop-filter: blur(40px);
    margin-top: 10%; //maybe to be adjusted
}

.widgets {
    max-width: 73%;
}

.widgets-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.widget {
    background: rgba(46, 46, 46, 0.6);
    border: 0.4px solid rgba(202, 202, 202, 0.4);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    margin-bottom: 40px;
    padding:32px;
}

.widget-left, .widget-right {
    flex:1;
}

.sidebar-option {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-bottom: 16px;
    cursor: pointer;
    position:relative;
    z-index:1;
}

.selected {
    background: #3389E6;
    opacity: 1;
}

.logout {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom:32px;
    z-index:1;   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.widget-quote {

    .quote-wrapper {
        border-left: 0.4px solid #828282;
        padding-left: 16px;
    }

    .quote {
        font-weight: 600;
        font-size: 16px;
    }

    .quoter {
        font-size: 14px;
        margin-bottom: 0;
    }
}

.widget-title {
    font-size:24px;
    font-weight: 600;
    border-bottom: 0.4px solid #828282;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.widget-checkin-list {
    height:480px;
}

.checkins {
    height:365px;
    overflow:auto;
}

// select {
//     background: rgba(46, 46, 46, 0.6) !important;
// border: 0.4px solid #CACACA !important;
// backdrop-filter: blur(40px) !important;
// border-radius: 10px !important;
// color:white !important;
// height: 48px !important;
// padding: 8px 16px !important;
// } // to be removed

.button-wrapper {
margin-top: 32px;
text-align: right;
}

.checkin-button {
    position: relative;
    right: 0;
width: 92px;
height: 40px;
background: #3389E6;
color:white;
box-shadow: 0px 4px 16px rgba(75, 75, 75, 0.15);
border-radius: 10px;
border:none;
}

.items-wrapper {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-wrapper {
    background: rgba(46, 46, 46, 0.6);
    border: 0.4px solid #CACACA;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 8px 16px;
}

.item-wrapper {
    margin-right: 16px;
    input {
        visibility: hidden;
    }
    label {
        margin-bottom: 0;
        cursor: pointer;
    }

    input:checked + label{
        color: red;
    }
}

.checkin-question {
    font-size: 18px;
    margin-bottom: 16px;
}

.textarea {
    min-height: 96px;
    background: rgba(46, 46, 46, 0.6);
    border: 0.4px solid #CACACA;
    backdrop-filter: blur(40px);
    border-radius: 10px;
}
