@import './base/main.scss';

@include desktop {
    .container {
        border-left: 3px dotted $grey-super-light;
        border-right: 3px dotted $grey-super-light;
    }

    .navbar {
        padding: .5rem 0 !important;

        .logo {
            max-width:130px;
        }
    }

    .navbar, .header {
        border-bottom: 3px dotted $grey-super-light;
    }

    .header {
        padding: 0 0 100px;
    }

    .header-intro {
        @include flex(center, center);
    }

    .header-illust {
        img {
            max-height: 450px;
        }
    }

    .section {
        padding: 100px 0;
        border-bottom: 3px dotted $grey-super-light;
    }

    .placeholder-dashboard {
        max-height: 400px;
    }

    .list-items {
        counter-reset: item;
        margin-left: 0;
        padding-left: 0;
    }
.list-item {
        display: block;
        margin-bottom: 24px;
    }
    .list-item:before {
        display: inline-block;
        content: counter(item) "";
        counter-increment: item;
        background: #157AF6;
        color: white;
        display: inline-block;
        border-radius: 101%;
        margin: 0 5px;
        height: 25px;
        width: 25px;
        text-align: center;
    
    }
    
}
